# NextAuth.js v5 (Auth.js) with GitHub
# Copy to .env.local and fill the values

# Used by Auth.js v5
AUTH_SECRET=21c8409eb12f7c2e0d74fe8a61b8ec362d5926c40a758ef2043e5f1dcb9cf408

# GitHub OAuth App credentials
AUTH_GITHUB_ID=your_github_client_id
AUTH_GITHUB_SECRET=your_github_client_secret

# URL used by Auth.js to construct callbacks
# Example: http://localhost:3000
AUTH_URL=http://localhost:3000